@model OfficeProject.Models.Puesto

@{
    ViewBag.Title = "DetailJobPosition";
}

<h2>DetailJobPosition</h2>

<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSalario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSalario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ListJobPositions")
</p>
